.box-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 450px;
  background: #0000004d;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.card:hover {
  transform: scale(1.01);
  background: #0000005b;
}

#buttonLixeira {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/lixeira.png');
  outline: none;
  background: transparent;
  border: none;
  transition: .5s;
}

#buttonLixeira:hover {
  transform: scale(1.01);
}

#lixeira {
  width: 25px;
  height: 25px;
}
